<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
<script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
<link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<style>
iframe {
	width: 1300px;
	height: 800px;
}

body {
	width: 100%;
	height: 100%;
}
</style>
</head>
<script>
	var app = angular.module("myShoppingList", [ 'ui.bootstrap', 'ngSanitize' ]);

	var controller = app.controller('Controller', Controller);

	function Controller($http, $compile, $filter, $sce) {
		this.products = [ "Milk", "Bread", "Cheese" ];

		this.inlineOptions = {
			customClass : getDayClass,
			minDate : new Date(),
			showWeeks : true
		};

		this.dateOptions = {
			dateDisabled : disabled,
			formatYear : 'yy',
			maxDate : new Date(2020, 5, 22),
			// 			minDate : new Date(),
			startingDay : 1
		};

		this.popup1 = {
			opened : false
		};

		this.formats = [ 'dd-MMMM-yyyy', 'yyyy/MM/dd', 'dd.MM.yyyy', 'shortDate' ];
		this.format = this.formats[0];
		this.altInputFormats = [ 'M!-d!-yyyy' ];

		this.addItem = function() {
			this.products.push(this.addMe);
			this.addMe = '';
		}

		this.deleteItem = function(index) {
			this.products.splice(index, 1);
		}

		this.open1 = function() {
			this.popup1.opened = true;
		};

		function getDayClass(data) {
			var date = data.date, mode = data.mode;
			if (mode === 'day') {
				var dayToCheck = new Date(date).setHours(0, 0, 0, 0);

				for (var i = 0; i < this.events.length; i++) {
					var currentDay = new Date(this.events[i].date).setHours(0, 0, 0, 0);

					if (dayToCheck === currentDay) {
						return this.events[i].status;
					}
				}
			}
			return '';
		}

		// Disable weekend selection
		function disabled(data) {
			var date = data.date, mode = data.mode;
			return mode === 'day' && (date.getDay() === 0 || date.getDay() === 6);
		}

		this.graphHtml = "<p>Not found</p>";

		this.fetchGraph = function(name) {

			var _this = this;

			var date = $filter('date')(this.dt, "yyyy-MM-dd");
			var url = date + ".html";

			var p = $http({
				method : 'GET',
				url : encodeURI(url),
				headers : {
					'Content-Type' : 'text/html'
				}
			});

			p.then(function(response) {
				console.log("got response");
				_this.graphHtml = response.data;
			}, function(response) {
				console.log("got error from server");
			});
		}

		this.fetchGraph1 = function(name) {

			var date = $filter('date')(this.dt, "yyyy-MM-dd");
			var url = date + ".html";

			this.graphHtml = $sce.trustAsHtml('<iframe src="' + url + '"></iframe>');
		}
	}
</script>

<body ng-app="myShoppingList" ng-controller="Controller as controller">
	<div class="container">
		<div class="hide">
			<ul>
				<li ng-repeat="x in controller.products">{{x}}
					<button class="btn btn-default btn-sm" ng-click="controller.deleteItem($index)">Delete</button>
				</li>
			</ul>

			<form class="form-inline">
				<div class="form-group">
					<input class="form-control" ng-model="controller.addMe">
				</div>
				<button class="btn btn-default btn-sm" ng-click="controller.addItem()">Add</button>
			</form>
			
			<p>Write in the input field to add items.</p>
		</div>

		<h4>Seleziona data</h4>
		<div class="row">
			<div class="col-md-4">
				<p class="input-group">
					<input type="text" class="form-control" uib-datepicker-popup="{{controller.format}}" ng-change="controller.fetchGraph1()"
						ng-model="controller.dt" is-open="controller.popup1.opened" datepicker-options="controller.dateOptions" ng-required="true"
						close-text="Close" alt-input-formats="controller.altInputFormats" /> <span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="controller.open1()">
							<i class="glyphicon glyphicon-calendar"></i>
						</button>
					</span>
				</p>
			</div>
			<div class="col-md-8"></div>
		</div>

		<div ng-bind-html="controller.graphHtml"></div>
	</div>
</body>
</html>
